<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/dist/css/bootstrap.css">
	<title></title>
</head>
<body>

<table class="table">
	<thead>
		<tr>
		<td>rowid</td>
		<td>id_tipo_maestro</td>
		<td>rowid_empresa</td>
		<td>erp_id_cia</td>
		<td>erp_rowid_maestro</td>
		<td>erp_id_maestro</td>
		<td>erp_descripcion</td>
		<td>custom1</td>
		<td>email</td>
		<td>fechacreacion</td>
		<td>usuariocreacion</td>
		<td>fechamod</td>
		<td>usuariomod</td>
		<td>ind_disabled</td>
		<td>custom2</td>
		<td>custom3</td>
		<td>Accion</td>
	</tr>
	<tr>
		<td><input class="form-control" id="rowid"></td>
		<td><input class="form-control" id="id_tipo_maestro"></td>
		<td><input class="form-control" id="rowid_empresa"></td>
		<td><input class="form-control" id="erp_id_cia"></td>
		<td><input class="form-control" id="erp_rowid_maestro"></td>
		<td><input class="form-control" id="erp_id_maestro"></td>
		<td><input class="form-control" id="erp_descripcion"></td>
		<td><input class="form-control" id="custom1"></td>
		<td><input class="form-control" id="email"></td>
		<td><input class="form-control" id="fechacreacion"></td>
		<td><input class="form-control" id="usuariocreacion"></td>
		<td><input class="form-control" id="fechamod"></td>
		<td><input class="form-control" id="usuariomod"></td>
		<td><input class="form-control" id="ind_disabled"></td>
		<td><input class="form-control" id="custom2"></td>
		<td><input class="form-control" id="custom3"></td>
		<td><button class="btn btn-primary guardar">Guardar</button></td>
	</tr>
	</thead>
	<tbody class="entidades-list">
	</tbody>
</table>

<script type="text/template " class="entidades-list-template">
	<td><span class="rowid"><%=rowid%></span></td>
	<td><span class="id_tipo_maestro"><%=id_tipo_maestro%></span></td>
	<td><span class="rowid_empresa"><%=rowid_empresa%></span></td>
	<td><span class="erp_id_cia"><%=erp_id_cia%></span></td>
	<td><span class="erp_rowid_maestro"><%=erp_rowid_maestro%></span></td>
	<td><span class="erp_id_maestro"><%=erp_id_maestro%></span></td>
	<td><span class="erp_descripcion"><%=erp_descripcion%></span></td>
	<td><span class="custom1"><%=custom1%></span></td>
	<td><span class="email"><%=email%></span></td>
	<td><span class="fechacreacion"><%=fechacreacion%></span></td>
	<td><span class="usuariocreacion"><%=usuariocreacion%></span></td>
	<td><span class="fechamod"><%=fechamod%></span></td>
	<td><span class="usuariomod"><%=usuariomod%></span></td>
	<td><span class="ind_disabled"><%=ind_disabled%></span></td>
	<td><span class="custom2"><%=custom2%></span></td>
	<td><span class="custom3"><%=custom3%></span></td>
	<td><button class="btn btn-warning edit-entidades">Editar</button><button class="btn btn-danger delete-entidades">Eliminar</button><button class="btn btn-success update-entidades" style="display:none">Actualizar</button><button class="btn btn-danger cancel-entidades" style="display:none">Cancelar</button></td>
</script>
<script type="text/javascript" src="../libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../libs/underscore-min.js"></script>
<script type="text/javascript" src="../libs/backbone-min.js"></script>
<script type="text/javascript" src="../js/database.js"></script>
<script type="text/javascript" src="../js/erp_entidades_master.js"></script>
</body>
</html>