<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/dist/css/bootstrap.css">
	<title></title>
</head>
<body>

<table class="table">
	<thead>
		<tr>
		<td>rowid</td>
		<td>modulo</td>
		<td>campo</td>
		<td>ind_ocultar</td>
		<td>valor_defecto</td>
		<td>usuario_creacion</td>
		<td>fecha_creacion</td>
		<td>usuario_modificacion</td>
		<td>fecha_modificacion</td>
		<td>Accion</td>
	</tr>
	<tr>
		<td><input class="form-control" id="rowid"></td>
		<td><input class="form-control" id="modulo"></td>
		<td><input class="form-control" id="campo"></td>
		<td><input class="form-control" id="ind_ocultar"></td>
		<td><input class="form-control" id="valor_defecto"></td>
		<td><input class="form-control" id="usuario_creacion"></td>
		<td><input class="form-control" id="fecha_creacion"></td>
		<td><input class="form-control" id="usuario_modificacion"></td>
		<td><input class="form-control" id="fecha_modificacion"></td>
		<td><button class="btn btn-primary guardar">Guardar</button></td>
	</tr>
	</thead>
	<tbody class="modulos-list">
	</tbody>
</table>

<script type="text/template " class="modulos-list-template">
	<td><span class="rowid"><%=rowid%></span></td>
	<td><span class="modulo"><%=modulo%></span></td>
	<td><span class="campo"><%=campo%></span></td>
	<td><span class="ind_ocultar"><%=ind_ocultar%></span></td>
	<td><span class="valor_defecto"><%=valor_defecto%></span></td>
	<td><span class="usuario_creacion"><%=usuario_creacion%></span></td>
	<td><span class="fecha_creacion"><%=fecha_creacion%></span></td>
	<td><span class="usuario_modificacion"><%=usuario_modificacion%></span></td>
	<td><span class="fecha_modificacion"><%=fecha_modificacion%></span></td>
	<td><button class="btn btn-warning edit-modulos">Editar</button><button class="btn btn-danger delete-modulos">Eliminar</button><button class="btn btn-success update-modulos" style="display:none">Actualizar</button><button class="btn btn-danger cancel-modulos" style="display:none">Cancelar</button></td>
</script>


<script type="text/javascript" src="../libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../libs/underscore-min.js"></script>
<script type="text/javascript" src="../libs/backbone-min.js"></script>
<script type="text/javascript" src="../js/database.js"></script>
<script type="text/javascript" src="../js/m_modulos_config.js"></script>


</body>
</html>