<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/dist/css/bootstrap.css">
	<title></title>
</head>
<body>

<table class="table">
	<thead>
		<tr>
		<td>rowid</td>
		<td>rowid_empresa</td>
		<td>cod_parametro</td>
		<td>nombre_parametro</td>
		<td>valor_parametro</td>
		<td>Accion</td>
	</tr>
	<tr>
		<td><input class="form-control" id="rowid"></td>
		<td><input class="form-control" id="rowid_empresa"></td>
		<td><input class="form-control" id="cod_parametro"></td>
		<td><input class="form-control" id="nombre_parametro"></td>
		<td><input class="form-control" id="valor_parametro"></td>
		<td><button class="btn btn-primary guardar">Guardar</button></td>
	</tr>
	</thead>
	<tbody class="parametros-list">
	</tbody>
</table>

<script type="text/template " class="parametros-list-template">
	<td><span class="rowid"><%=rowid%></span></td>
	<td><span class="rowid_empresa"><%=rowid_empresa%></span></td>
	<td><span class="cod_parametro"><%=cod_parametro%></span></td>
	<td><span class="nombre_parametro"><%=nombre_parametro%></span></td>
	<td><span class="valor_parametro"><%=valor_parametro%></span></td>
	<td><button class="btn btn-warning edit-parametros">Editar</button><button class="btn btn-danger delete-parametros">Eliminar</button><button class="btn btn-success update-parametros" style="display:none">Actualizar</button><button class="btn btn-danger cancel-parametros" style="display:none">Cancelar</button></td>
</script>
<script type="text/javascript" src="../libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../libs/underscore-min.js"></script>
<script type="text/javascript" src="../libs/backbone-min.js"></script>
<script type="text/javascript" src="../js/database.js"></script>
<script type="text/javascript" src="../js/s_parametros.js"></script>
</body>
</html>