<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap/dist/css/bootstrap.css">
	<title></title>
</head>
<body>
<table class="table">
	<tr>
		<td>rowid_empresa</td>
		<td><input class="form-control" id="rowid_empresa"></td>
	</tr>
	<tr>
		<td>id_cia</td>
		<td><input class="form-control" id="id_cia"></td>
	</tr>
	<tr>
		<td>rowid_item_erp</td>
		<td><input class="form-control" id="rowid_item_erp"></td>
	</tr>
	<tr>
		<td>rowid_item_ext</td>
		<td><input class="form-control" id="rowid_item_ext"></td>
	</tr>
	<tr>
		<td>id_item</td>
		<td><input class="form-control" id="id_item"></td>
	</tr>
	<tr>
		<td>item_referencia</td>
		<td><input class="form-control" id="item_referencia"></td>
	</tr>
	<tr>
		<td>item_codigo</td>
		<td><input class="form-control" id="item_codigo"></td>
	</tr>
	<tr>
		<td>item_descripcion</td>
		<td><input class="form-control" id="item_descripcion"></td>
	</tr>
	<tr>
		<td>item_linea</td>
		<td><input class="form-control" id="item_linea"></td>
	</tr>
	<tr>
		<td>item_ext1</td>
		<td><input class="form-control" id="item_ext1"></td>
	</tr>
	<tr>
		<td>item_ext2</td>
		<td><input class="form-control" id="item_ext2"></td>
	</tr>
	<tr>
		<td>id_unidad</td>
		<td><input class="form-control" id="id_unidad"></td>
	</tr>
	<tr>
		<td>id_unidad_venta</td>
		<td><input class="form-control" id="id_unidad_venta"></td>
	</tr>
	<tr>
		<td>ind_estado</td>
		<td><input class="form-control" id="ind_estado"></td>
	</tr>
	<tr>
		<td>descripcion_extensa</td>
		<td><input class="form-control" id="descripcion_extensa"></td>
	</tr>
	<tr>
		<td>fechacreacion</td>
		<td><input class="form-control" id="fechacreacion" type="date"></td>
	</tr>
	<tr>
		<td>usuariocreacion</td>
		<td><input class="form-control" id="usuariocreacion"></td>
	</tr>
	<tr>
		<td>fechamod</td>
		<td><input class="form-control" id="fechamod" type="date"></td>
	</tr>
	<tr>
		<td>usuariomod</td>
		<td><input class="form-control" id="usuariomod"></td>
	</tr>
	<tr>
		<td>item_custom1</td>
		<td><input class="form-control" id="item_custom1"></td>
	</tr>
	<tr>
		<td>impuesto_id</td>
		<td><input class="form-control" id="impuesto_id"></td>
	</tr>
	<tr>
		<td>impuesto_porcentaje</td>
		<td><input class="form-control" id="impuesto_porcentaje"></td>
	</tr>
	<tr>
		<td>descripcion_adicional</td>
		<td><input class="form-control" id="descripcion_adicional"></td>
	</tr>
	<tr>
		<td>cantidad_embalaje</td>
		<td><input class="form-control" id="cantidad_embalaje"></td>
	</tr>
	<tr>
		<td><button class="btn btn-primary guardar">Guardar</button></td>
	</tr>
</table>

<table  class="table">
	<thead>
		<tr>
			<td>rowid</td>
			<td>rowid_empresa</td>
			<td>id_cia</td>
			<td>rowid_item_erp</td>
			<td>rowid_item_ext</td>
			<td>id_item</td>
			<td>item_referencia</td>
			<td>item_codigo</td>
			<td>item_descripcion</td>
			<td>item_linea</td>
			<td>item_ext1</td>
			<td>item_ext2</td>
			<td>id_unidad</td>
			<td>id_unidad_venta</td>
			<td>ind_estado</td>
			<td>descripcion_extensa</td>
			<td>fechacreacion</td>
			<td>usuariocreacion</td>
			<td>fechamod</td>
			<td>usuariomod</td>
			<td>item_custom1</td>
			<td>impuesto_id</td>
			<td>impuesto_porcentaje</td>
			<td>descripcion_adicional</td>
			<td>cantidad_embalaje</td>
			<td>Accion</td>
		</tr>
	</thead>
	<tbody class="item-list">
	</tbody>
</table>
<script type="text/template" class="item-list-template">
	<td><span class="rowid"><%=rowid%></span></td>
	<td><span class="rowid_empresa"><%=rowid_empresa%></span></td>
	<td><span class="id_cia"><%=id_cia%></span></td>
	<td><span class="rowid_item_erp"><%=rowid_item_erp%></span></td>
	<td><span class="rowid_item_ext"><%=rowid_item_ext%></span></td>
	<td><span class="id_item"><%=id_item%></span></td>
	<td><span class="item_referencia"><%=item_referencia%></span></td>
	<td><span class="item_codigo"><%=item_codigo%></span></td>
	<td><span class="item_descripcion"><%=item_descripcion%></span></td>
	<td><span class="item_linea"><%=item_linea%></span></td>
	<td><span class="item_ext1"><%=item_ext1%></span></td>
	<td><span class="item_ext2"><%=item_ext2%></span></td>
	<td><span class="id_unidad"><%=id_unidad%></span></td>
	<td><span class="id_unidad_venta"><%=id_unidad_venta%></span></td>
	<td><span class="ind_estado"><%=ind_estado%></span></td>
	<td><span class="descripcion_extensa"><%=descripcion_extensa%></span></td>
	<td><span class="fechacreacion"><%=fechacreacion%></span></td>
	<td><span class="usuariocreacion"><%=usuariocreacion%></span></td>
	<td><span class="fechamod"><%=fechamod%></span></td>
	<td><span class="usuariomod"><%=usuariomod%></span></td>
	<td><span class="item_custom1"><%=item_custom1%></span></td>
	<td><span class="impuesto_id"><%=impuesto_id%></span></td>
	<td><span class="impuesto_porcentaje"><%=impuesto_porcentaje%></span></td>
	<td><span class="descripcion_adicional"><%=descripcion_adicional%></span></td>
	<td><span class="cantidad_embalaje"><%=cantidad_embalaje%></span></td>
	<td><button class="btn btn-warning edit-item">Edit</button><button class="btn btn-danger delete-item">Delete</button><button class="btn btn-success update-item" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
</script>

<script type="text/javascript" src="../libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../libs/underscore-min.js"></script>
<script type="text/javascript" src="../libs/backbone-min.js"></script>
<script type="text/javascript" src="../js/database.js"></script>
<script type="text/javascript" src="../js/erp_items.js"></script>
</body>
</html>