<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap/dist/css/bootstrap.css">
	<title>PRECIO DE ITEMS</title>
</head>
<body>
<table class="table">
	<thead>
		<tr>
			<td>rowid</td>
			<td>rowid_empresa</td>
			<td>id_cia</td>
			<td>id_lista_precios</td>
			<td>rowid_item</td>
			<td>rowid_item_ext</td>
			<td>id_unidad</td>
			<td>precio_lista</td>
			<td>fechacreacion</td>
			<td>usuariocreacion</td>
			<td>fechamod</td>
			<td>usuariomod</td>
			<td>Accion</td>
		</tr>
		<tr>
			<td style="visibility:hidden;"><input class="form-control " id="rowid"></td>
			<td><input class="form-control " id="rowid_empresa"></td>
			<td><input class="form-control " id="id_cia"></td>
			<td><input class="form-control " id="id_lista_precios"></td>
			<td><input class="form-control " id="rowid_item"></td>
			<td><input class="form-control " id="rowid_item_ext"></td>
			<td><input class="form-control " id="id_unidad"></td>
			<td><input class="form-control " id="precio_lista"></td>
			<td><input class="form-control " id="fechacreacion"></td>
			<td><input class="form-control " id="usuariocreacion"></td>
			<td><input class="form-control " id="fechamod"></td>
			<td><input class="form-control " id="usuariomod"></td>
			<td><button class="btn btn-primary guardar">Guardar</button></td>
		</tr>
	</thead>
	<tbody class="item-list"></tbody>
</table>
<script type="text/template" class="item-list-template">
	<td><span class="rowid"><%=rowid%></span></td>
	<td><span class="rowid_empresa"><%=rowid_empresa%></span></td>
	<td><span class="id_cia"><%=id_cia%></span></td>
	<td><span class="id_lista_precios"><%=id_lista_precios%></span></td>
	<td><span class="rowid_item"><%=rowid_item%></span></td>
	<td><span class="rowid_item_ext"><%=rowid_item_ext%></span></td>
	<td><span class="id_unidad"><%=id_unidad%></span></td>
	<td><span class="precio_lista"><%=precio_lista%></span></td>
	<td><span class="fechacreacion"><%=fechacreacion%></span></td>
	<td><span class="usuariocreacion"><%=usuariocreacion%></span></td>
	<td><span class="fechamod"><%=fechamod%></span></td>
	<td><span class="usuariomod"><%=usuariomod%></span></td>
	<td><button class="btn btn-warning edit-item">Editar</button><button class="btn btn-danger delete-item">Eliminar</button><button class="btn btn-success update-item" style="display:none">Actualizar</button><button class="btn btn-danger cancel-item" style="display:none">Cancelar</button></td>
</script>

<script type="text/javascript" src="../libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../libs/underscore-min.js"></script>
<script type="text/javascript" src="../libs/backbone-min.js"></script>
<script type="text/javascript" src="../js/database.js"></script>
<script type="text/javascript" src="../js/erp_items_precio.js"></script>
</body>
</html>