<!--=== Validation Example 4 ===-->
<div class="row" ng-controller="pedidoController">
	<!--=== Inline Tabs ===-->
	<div class="col-md-12">
		<!--<div class="widget box">
			<div class="widget-header">
				<h4><i class="icon-reorder"></i> Nuevo Pedido</h4>
			</div>
			<div class="widget-content">-->
				<!-- Tabs-->
				<div class="tabbable tabbable-custom">
					<ul class="nav nav-tabs tabs">
						<li data-tab="tab_1" class="active"><a data-tab="tab_1" data-toggle="tab">1. Encabezado</a></li>
						<li data-tab="tab_2"><a data-tab="tab_2" data-toggle="tab">2. Detalle</a></li>
						<li data-tab="tab_3"><a data-tab="tab_3" data-toggle="tab">3. Balance</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">
							<div class="col-md-12">
								<form class="form-vertical row-border" id="form_encabezado" ng-submit="Add()">

									<input type="hidden" name="rowid_empresa" id="rowid_empresa" ng-model="pedidos.rowid_empresa" value="4"/>
									<input type="hidden" name="id_cia" id="id_cia" ng-model="pedidos.id_cia" value="1"/>
									<input type="hidden" name="rowid_bodega" id="rowid_bodega" ng-model="pedidos.rowid_bodega" value="1"/>
									<input type="hidden" name="fechacreacion" id="fechacreacion" ng-model="pedidos.fechacreacion" value="01-01-2016"/>
									<input type="hidden" name="id_estado" id="id_estado" ng-model="pedidos.id_estado" value="101"/>

									<div class="form-group">
										<label for="rowid_tercero" class="control-label">Tercero <span class="required">*</span></label>
										<input type="text" autocomplete="list_tercero" placeholder="Buscar tercero" name="rowid_tercero" id="rowid_tercero" class="form-control required"/>
										<!--<button ng-click="main_repo = null" class="btn">Limpiar</button>-->
										<label for="rowid_tercero" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-group">
										<label class="control-label">Sucursal Facturacion <span class="required">*</span></label>
										<select name="rowid_cliente_facturacion" id="rowid_cliente_facturacion" class="col-md-12 select2 full-width-fix required" ng-model="pedidos.rowid_cliente_facturacion">
											<option></option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
										</select>
										<label for="rowid_cliente_facturacion" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-group">
										<label class="control-label">Sucursal Despacho <span class="required">*</span></label>
										<select name="rowid_cliente_despacho" id="rowid_cliente_despacho" class="col-md-12 select2 full-width-fix required" ng-model="pedidos.rowid_cliente_despacho">
											<option></option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
										</select>
										<label for="rowid_cliente_despacho" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-group">
										<label class="control-label">Lista Precio <span class="required">*</span></label>
										<select id="rowid_lista_precios" name="rowid_lista_precios" class="col-md-12 select2 full-width-fix required" ng-model="pedidos.rowid_lista_precios">
											<option></option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
										</select>
										<label for="rowid_lista_precios" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-group">
										<label class="control-label">Punto Envio <span class="required">*</span></label>
										<select id="id_punto_envio" name="id_punto_envio" class="col-md-12 select2 full-width-fix required" ng-model="pedidos.id_punto_envio">
											<option></option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
										</select>
										<label for="id_punto_envio" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-group">
										<label class="control-label">Orden Compra</label>
										<input type="text" placeholder="Orden Compra" id="orden_compra" name="orden_compra" class="form-control" ng-model="pedidos.orden_compra">
										<label for="orden_compra" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-group">
										<label class="control-label">Fecha Solicitud</label>
										<input type="date" id="fecha_solicitud" name="fecha_solicitud" class="form-control" ng-model="pedidos.fecha_solicitud">
										<label for="fecha_solicitud" generated="true" class="has-error help-block" style="display:none;"></label>
									</div>

									<div class="form-actions">
										<button class="btn btn-primary pull-right"  type="submit"><!--ng-click="GuardarEncabezadoPedido()"-->Continuar</button>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="tab_2">
							<div class="col-md-12">
								<form class="form-vertical row-border" action="#" id="form_detalle" ng-submit="Add()>
									<div class="form-group">
										<div class="row">
											<div class="col-md-12">
												<div class="input-group">
													<input type="text" autocomplete="list_tercero" placeholder="Buscar Item" name="rowid_item" class="form-control"/>
													<div class="input-group-btn">
														<button type="button" class="btn btn-default" data-toggle="dropdown"><span class="icon-ok"></span></button>
													</div><!--input-group-btn -->
												</div><!--input-group -->
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-md-12">
												<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible="0">
													<ul class="list-group">
														<li class="list-group-item">
															<span class="badge">$14.000.000</span>
															324245 - POLLITO ENGORDE (24k)
														</li>
													</ul>
												</div> <!-- /.scroller -->
											</div>
										</div>
									</div>

									<div class="form-actions">
										<button class="btn btn-primary pull-right" ng-click="CambiarTab(2,'siguiente');">Continuar</button>
										<button class="btn btn-primary pull-right" ng-click="CambiarTab(2,'atras');">Atras</button>
									</div>
								</form>
							</div>
						<div class="tab-pane" id="tab_3">
							<div class="col-md-12">
								<form class="form-inline">
									<div class="form-group">

										<ul class="list-group">
											<li class="list-group-item">
												<span class="badge">$14.000.000</span>
												324245 - POLLITO ENGORDE (24k)
												<input type="number" class="form-control input-width-mini" style="margin:-5px 5px -5px 5px;" value="10" min="1"/>
											</li>
										</ul>
									</div>
								</form>
							</div>
							<div class="col-md-12">
								<div class="form-actions">
									<button class="btn btn-success pull-right">Finalizar <i class="icon-angle-right"></i></button>
									<button class="btn btn-primary pull-right" ng-click="CambiarTab(3,'atras');">Atras</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--END TABS-->
	<!--		</div>
		</div>-->
	</div>
</div>