<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../css/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<table class="table">
	<tr>
		<td>rowid_empresa</td>
		<td><input id="rowid_empresa" type="text"></td>
	</tr><tr>
		<td>id_cia</td>
		<td><input id="id_cia" type="text"></td>
	</tr><tr>
		<td>rowid_cliente_facturacion</td>
		<td><input id="rowid_cliente_facturacion" type="text"></td>
	</tr><tr>
		<td>rowid_cliente_despacho</td>
		<td><input id="rowid_cliente_despacho" type="text"></td>
	</tr><tr>
		<td>rowid_lista_precios</td>
		<td><input id="rowid_lista_precios" type="text"></td>
	</tr><tr>
		<td>rowid_bodega</td>
		<td><input id="rowid_bodega" type="text"></td>
	</tr><tr>
		<td>fecha_pedido</td>
		<td><input id="fecha_pedido" type="text"></td>
	</tr><tr>
		<td>fecha_entrega</td>
		<td><input id="fecha_entrega" type="text"></td>
	</tr><tr>
		<td>fecha_solicitud</td>
		<td><input id="fecha_solicitud" type="text"></td>
	</tr><tr>
		<td>id_punto_envio</td>
		<td><input id="id_punto_envio" type="text"></td>
	</tr><tr>
		<td>observaciones</td>
		<td><input id="observaciones" type="text"></td>
	</tr><tr>
		<td>observaciones2</td>
		<td><input id="observaciones2" type="text"></td>
	</tr><tr>
		<td>orden_compra</td>
		<td><input id="orden_compra" type="text"></td>
	</tr><tr>
		<td>referencia</td>
		<td><input id="referencia" type="text"></td>
	</tr><tr>
		<td>valor_base</td>
		<td><input id="valor_base" type="text"></td>
	</tr><tr>
		<td>valor_descuento</td>
		<td><input id="valor_descuento" type="text"></td>
	</tr><tr>
		<td>valor_impuesto</td>
		<td><input id="valor_impuesto" type="text"></td>
	</tr><tr>
		<td>valor_total</td>
		<td><input id="valor_total" type="text"></td>
	</tr><tr>
		<td>id_estado</td>
		<td><input id="id_estado" type="text"></td>
	</tr><tr>
		<td>numpedido_erp</td>
		<td><input id="numpedido_erp" type="text"></td>
	</tr><tr>
		<td>numfactura_erp</td>
		<td><input id="numfactura_erp" type="text"></td>
	</tr><tr>
		<td>estado_erp</td>
		<td><input id="estado_erp" type="text"></td>
	</tr><tr>
		<td>valor_facturado</td>
		<td><input id="valor_facturado" type="text"></td>
	</tr><tr>
		<td>id_cond_especial</td>
		<td><input id="id_cond_especial" type="text"></td>
	</tr><tr>
		<td>fechacreacion</td>
		<td><input id="fechacreacion" type="text"></td>
	</tr><tr>
		<td>usuariocreacion</td>
		<td><input id="usuariocreacion" type="text"></td>
	</tr><tr>
		<td>fechamod</td>
		<td><input id="fechamod" type="text"></td>
	</tr><tr>
		<td>usuariomod</td>
		<td><input id="usuariomod" type="text"></td>
	</tr><tr>
		<td>tipo_doc</td>
		<td><input id="tipo_doc" type="text"></td>
	</tr><tr>
		<td>id_vendedor</td>
		<td><input id="id_vendedor" type="text"></td>
	</tr><tr>
		<td>id_cond_pago</td>
		<td><input id="id_cond_pago" type="text"></td>
	</tr><tr>
		<td>numremision_erp</td>
		<td><input id="numremision_erp" type="text"></td>
	</tr><tr>
		<td>id_co</td>
		<td><input id="id_co" type="text"></td>
	</tr><tr>
		<td>transporte_conductor_cc</td>
		<td><input id="transporte_conductor_cc" type="text"></td>
	</tr><tr>
		<td>transporte_conductor_nombre</td>
		<td><input id="transporte_conductor_nombre" type="text"></td>
	</tr><tr>
		<td>transporte_placa</td>
		<td><input id="transporte_placa" type="text"></td>
	</tr><tr>
		<td>fecha_anulacion</td>
		<td><input id="fecha_anulacion" type="text"></td>
	</tr><tr>
		<td>usuario_anulacion</td>
		<td><input id="usuario_anulacion" type="text"></td>
	</tr><tr>
		<td>id_nota</td>
		<td><input id="id_nota" type="text"></td>
	</tr><tr>
		<td>criterio_clasificacion</td>
		<td><input id="criterio_clasificacion" type="text"></td>
	</tr>

	
</table>
<BUTTON class="btn btn-primary guardar">GUARDAR</BUTTON>

<table class="table">
<thead>
	<tr>
		<td>rowid</td>
		<td>rowid_empresa</td>
		<td>id_cia</td>
		<td>[rowid_cliente_facturacion]</td>
		<td>[rowid_cliente_despacho]</td>
		<td>[rowid_lista_precios]</td>
		<td>[rowid_bodega]</td>
		<td>[fecha_pedido]</td>
		<td>[fecha_entrega]</td>
		<td>[fecha_solicitud]</td>
		<td>[id_punto_envio]</td>
		<td>[observaciones]</td>
		<td>[observaciones2]</td>
		<td>[orden_compra]</td>
		<td>[referencia]</td>
		<td>[valor_base]</td>
		<td>[valor_descuento]</td>
		<td>[valor_impuesto]</td>
		<td>[valor_total]</td>
		<td>[id_estado]</td>
		<td>[numpedido_erp]</td>
		<td>[numfactura_erp]</td>
		<td>[estado_erp]</td>
		<td>[valor_facturado]</td>
		<td>[id_cond_especial]</td>
		<td>[fechacreacion]</td>
		<td>[usuariocreacion]</td>
		<td>[fechamod]</td>
		<td>[usuariomod]</td>
		<td>[tipo_doc]</td>
		<td>[id_vendedor]</td>
		<td>[id_cond_pago]</td>
		<td>[numremision_erp]</td>
		<td>[id_co]</td>
		<td>[transporte_conductor_cc]</td>
		<td>[transporte_conductor_nombre]</td>
		<td>[transporte_placa]</td>
		<td>[fecha_anulacion]</td>
		<td>[usuario_anulacion]</td>
		<td>[id_nota]</td>
		<td>[criterio_clasificacion]</td>
	</tr>
	</thead>
<tbody class="pedidos-list"></tbody>
</table>
<script type="text/template" class="pedidos-list-template">
	<td><span class="rowid"><%=rowid%></span></td>
	<td><span class="rowid_empresa"><%=rowid_empresa%></span></td>
	<td><span class="id_cia"><%=id_cia%></span></td>
	<td><span class="rowid_cliente_facturacion"><%=rowid_cliente_facturacion%></span></td>
	<td><span class="rowid_cliente_despacho"><%=rowid_cliente_despacho%></span></td>
	<td><span class="rowid_lista_precios"><%=rowid_lista_precios%></span></td>
	<td><span class="rowid_bodega"><%=rowid_bodega%></span></td>
	<td><span class="fecha_pedido"><%=fecha_pedido%></span></td>
	<td><span class="fecha_entrega"><%=fecha_entrega%></span></td>
	<td><span class="fecha_solicitud"><%=fecha_solicitud%></span></td>
	<td><span class="id_punto_envio"><%=id_punto_envio%></span></td>
	<td><span class="observaciones"><%=observaciones%></span></td>
	<td><span class="observaciones2"><%=observaciones2%></span></td>
	<td><span class="orden_compra"><%=orden_compra%></span></td>
	<td><span class="referencia"><%=referencia%></span></td>
	<td><span class="valor_base"><%=valor_base%></span></td>
	<td><span class="valor_descuento"><%=valor_descuento%></span></td>
	<td><span class="valor_impuesto"><%=valor_impuesto%></span></td>
	<td><span class="valor_total"><%=valor_total%></span></td>
	<td><span class="id_estado"><%=id_estado%></span></td>
	<td><span class="numpedido_erp"><%=numpedido_erp%></span></td>
	<td><span class="numfactura_erp"><%=numfactura_erp%></span></td>
	<td><span class="estado_erp"><%=estado_erp%></span></td>
	<td><span class="valor_facturado"><%=valor_facturado%></span></td>
	<td><span class="id_cond_especial"><%=id_cond_especial%></span></td>
	<td><span class="fechacreacion"><%=fechacreacion%></span></td>
	<td><span class="usuariocreacion"><%=usuariocreacion%></span></td>
	<td><span class="fechamod"><%=fechamod%></span></td>
	<td><span class="usuariomod"><%=usuariomod%></span></td>
	<td><span class="tipo_doc"><%=tipo_doc%></span></td>
	<td><span class="id_vendedor"><%=id_vendedor%></span></td>
	<td><span class="id_cond_pago"><%=id_cond_pago%></span></td>
	<td><span class="numremision_erp"><%=numremision_erp%></span></td>
	<td><span class="id_co"><%=id_co%></span></td>
	<td><span class="transporte_conductor_cc"><%=transporte_conductor_cc%></span></td>
	<td><span class="transporte_conductor_nombre"><%=transporte_conductor_nombre%></span></td>
	<td><span class="transporte_placa"><%=transporte_placa%></span></td>
	<td><span class="fecha_anulacion"><%=fecha_anulacion%></span></td>
	<td><span class="usuario_anulacion"><%=usuario_anulacion%></span></td>
	<td><span class="id_nota"><%=id_nota%></span></td>
	<td><span class="criterio_clasificacion"><%=criterio_clasificacion%></span></td>
	<td><button class="btn btn-warning edit-pedido">Edit</button><button class="btn btn-danger delete-pedido">Delete</button><button class="btn btn-success update-pedido" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
</script>


	<script type="text/javascript" src="../libs/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../libs/underscore-min.js"></script>
<script type="text/javascript" src="../libs/backbone-min.js"></script>
	<script type="text/javascript" src="../js/database.js"></script>
	<script type="text/javascript" src="../js/t_pedidos.js"></script>

</body>
</html>