<!-- Page specific plugins -->
<!-- Charts -->
<script type="text/javascript" src="plugins/sparkline/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="plugins/blockui/jquery.blockUI.min.js"></script>

<script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>

<!--=== Page Content ===-->
<div class="row">
	<!--=== Calendar ===-->
	<div class="col-md-12">
		<div class="widget">
			<div class="widget-header">
				<h4><i class="icon-calendar"></i> Calendar</h4>
			</div>
			<div class="widget-content">
				<div id="calendar"></div>
			</div>
		</div> <!-- /.widget box -->
	</div> <!-- /.col-md-12 -->
	<!-- /Calendar -->
</div> <!-- /.row -->
<!-- /Page Content -->